.appointment{
    display: flex;
    padding: 0 var(--space-page);
    flex-direction: column;
    align-items: center;
    gap: var(--space-block);
    
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: var(--space-block);
    }
}

.form{
    display: flex;
    flex-direction: column;
    gap: var(--space-element); 
    max-width: 425px;
    &__text1{
        text-align: center;
    }

    &__button{
        border: none;
        box-sizing: border-box;
    }
    &__tel{
        width: 100%;

        &__input{
            width: 100%;
            padding: 8px 16px;
            box-sizing: border-box;
            border-radius: 10000px;
            outline: var(--orange) 1px solid;
            border: none;
        }

        &__input:hover{
            outline: var(--orange) 2px solid;
        }

        &__input:focus{
            outline: var(--orange) 2px solid;
            scale: 0.95;
        }                
    }
}

.to-call{
    display: flex;
    flex-direction: column;
    gap: var(--space-element);
    align-items: center;
}