.button{
    background-color: var(--orange);
    color: var(--white);
    padding: 8px 64px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 50px;
    font-weight: 700;
    transition: background-color 0.05s linear;
}
.button:hover{
    background-color: var(--orange-light);
}
.button:focus{
    scale: 0.95;
}