.cat-min{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__image{
        width: 356px;
        border-radius: 1000px;
        @media (max-width: 1279px) {
            width: 200px;
        }
    }
    
    
}

