.review{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 484px;
    gap: 8px;
    padding: var(--space-element);
    margin: var(--space-element);
    box-shadow: 0px 0px 20px 0px rgba(230, 101, 9, 1);
    border-radius: 16px;
    justify-content: center;

    &__text2{
        text-align: center;
    }
    &__name{
        text-align: center;
    }

    @media ((min-width: 768px) and (max-width: 1279px)){
        flex: 1 1 300px;
        min-width: 300px;
        max-width: 400px;
        margin: 0;
    }

    @media (max-width: 767px) {
        flex: 1 1 200px;
        min-width: 200px;
        max-width: 300px;
        margin: 0;
    } 
    
}