:root{
  --p: 20px;
  --h1: 2.4rem;      /* 48px */
  --h2: 2rem;    /* 40px */
  --link-phone: 1.2rem;   /* 24px */
  --button-text: 1.2rem;  /* 24px */
  --logo-text: 40px;

  --size-logo: 60px;

  --space-element: 24px;
  --space-block: 32px;
  --space-section: 100px;
  --space-page: 200px;
  --space-logo: 8px;
  --space-hero: 200px 25vw;

  --white: #FFFFFF;
  --black: #000000;
  --orange: #E66509;
  --orange-light:#EC8C47;
  --grey-light: #EEEEEE;
  --grey-dark: #4C4C4C;

  @media (min-width: 768px) and (max-width: 1279px) {
    --p: 20px;
    --h1: 2rem;    /* 40px */
    --h2: 1.6rem;   /* 32px */
    --link-phone: 1.2rem;   /* 24px */
    --button-text: 1rem;  /* 20px */
    --logo-text: 40px;

    --size-logo: 60px;

    --space-element: 24px;
    --space-block: 32px;
    --space-section: 64px;
    --space-page: 32px;
    --space-logo: 8px;
    --space-hero: 100px 10vw;
}

@media (max-width: 767px) {

    --p: 16px;
    --h1: 2rem;      /* 32px */
    --h2: 1.5rem;    /* 24px */
    --link-phone: 1.25rem;  /* 20px */
    --button-text: 1.25rem; /* 20px */
    --logo-text: 24px;

    --size-logo: 45px;

    --space-element: 16px;
    --space-block: 24px;
    --space-section: 32px;
    --space-page: 24px;
    --space-logo: 8px;
    --space-hero: 32px;
  }
}

