<article id="appointment" class="appointment">
    <h1 class="appointment__title h1">Запишитесь</h1>
    <div class="appointment__container">
        <form class="form" id="callbackForm">
            <p class="form__text1 p1">
            Оставьте свой номер телефона и мы перезвоним Вам для записи
            </p>
            <div class="form__tel">
                <label for="form__tel__label"></label>
                <input 
                    type = "tel" 
                    class = "form__tel__input p2" 
                    id = "phone"
                    name = "phone"
                    placeholder = "+7 (999) 000 00 00"
                >
            </div>
            <button 
                type="submit" 
                class="form__button button" 
                id="submit">
                Перезвоните мне!
            </button>
        </form>
        <div class="to-call">
            <p class="to-call_text1 p1">Или позвоните нам сами:</p>
            <a href="" class="to-call_phone phone">+ 7 (999) 999 99 99</a>
        </div>
    </div>    
</article>