<div class="cat-max">
    <img src="assets/images/@@img" alt="@@name" class="cat-max__img max__img">
    <div class="cat-max__list">
        <h2 class="cat-max__list__title2 h2">@@name</h2>
        <div class="cat-max__list__line">
            <p class="cat-max__list__line__text2 p2">Возраст:</p>
            <p class="cat-max__list__line__text1 p1">@@age</p>
        </div>
        <div class="cat-max__list__line">
            <p class="cat-max__list__line__text2 p2">Характер:</p>
            <p class="cat-max__list__line__text1 p1">@@character</p>
        </div>
        <div class="cat-max__list__line">
            <p class="cat-max__list__line__text2 p2">Черты:</p>
            <p class="cat-max__list__line__text1 p1">@@traits</p>
        </div>
    </div>
</div>