<footer class="footer">
    <img src="assets/images/logo3.svg" alt="logo" class="footer__logo">

    <nav class="footer__nav">
        <a href="index.html" class="footer__nav__link p2">Главная</a>
        <a href="#appointment" class="footer__nav__link p2">Запись</a>
        <a href="cats.html" class="footer__nav__link p2">Котики</a>
        <a href="about.html" class="footer__nav__link p2">О нас</a>
        <a href="contacts.html" class="footer__nav__link p2">Контакты</a>
    </nav> 

    <div class="footer__contacts">
        <a href="https://web.telegram.org" class="footer__contacts__social">
            <img src="assets/images/telegram.svg" alt="" class="footer__contacts__social__icon">
        </a>
        <a href="https://vk.com" class="footer__contacts__social">
            <img src="assets/images/vk.svg" alt="" class="footer__contacts__social__icon">
        </a>
    </div>
    <p class="footer__copyrights p2">
        © Барсик, 2025
    </p>
</footer>